.gradient-background {
  background: linear-gradient(135deg, #064300, #000000, #000089);
  background-size: 300%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 15%;
  }

  33% {
    background-position: 50% 50%;
  }

  66% {
    background-position: 95% 95%;
  }

  100% {
    background-position: 0% 15%;
  }
}



body {
  margin: 0;
}

#title {
  display: grid;
  grid-template: 0.2fr 3fr 0.2fr/0.2fr 1.75fr 1.75fr 0.2fr;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;


}

#head1 {
  grid-area: 2/2/3/4;
  height: 90svh;
  width: 90svw;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.30);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
}

#head2 {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;

}

#features {
  display: grid;
  grid-template: 0.2fr 1.5fr 1fr 0.2fr/0.2fr 2.5fr 1fr 0.2fr;
  justify-content: center;
  align-items: end;
  height: 100vh;
  width: 100vw;
  margin: 0;
  grid-gap: 15px;
}

#picture-box {
  grid-area: 2/2/3/3;
  justify-content: center;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.30);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  height: 100%;


}

#picture {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0px;

}

#comment {
  grid-area: 3/2/4/3;
  justify-content: center;
  align-items: center;
  color: white;
  height: 100%;
  display: flex;
}

#boxes {
  grid-area: 2/3/4/4;
  justify-content: center;
  align-items: center;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-gap: 15px;
  color: white;
  height: 100%;
}

.box {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.30);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);

}

.touch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  color: white;
  justify-self: center;

}

h3 {
  color: white;
}

h4 {
  margin: 0;
  color: white;
}

.button {
  display: grid;
  justify-self: center;
  align-self: first baseline;
  align-items: center;
  margin-top: 55px;
  height: 2em;
  width: 10em;
  text-align: center;
  background: rgba(255, 255, 255, 0.20);
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.30);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  font-family: "VT323", monospace;
  color: #000000;
  font-weight: 400;
  font-size: 15pt;
  cursor: pointer;
  vertical-align: top;
  transition: opacity 0.15s;
}

.button:hover {
  opacity: 0.7;
}

.button:active {
  opacity: 0.4;
  transition: none;
}

.button-contact {
  margin-top: 55px;
  height: 2em;
  width: 10em;
  text-align: center;
  background: rgba(255, 255, 255, 0.20);
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.30);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  font-family: "Share Tech Mono", monospace;
  color: #ffffff;
  font-weight: 400;
  font-size: 15pt;
  cursor: pointer;
  vertical-align: top;
  transition: opacity 0.15s;

}

.button-contact:hover {
  opacity: 0.7;
}

.button-contact:active {
  opacity: 0.4;
  transition: none;
}

.center {
  display: grid;
  height: 100%;
  width: 100vw;
  justify-content: center;
  align-items: self-end;
}

img {
  width: 100%;
  border-radius: 40px;
  padding: 1%;
}

.vt323-regular {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 35pt;
}

.share-tech-mono-regular {
  font-family: "Share Tech Mono", monospace;
  font-weight: 400;
  font-style: normal;

}

#footer {
  height: 15vh;
  width: 100vw;
}

.foot-box {
  display: grid;
  grid-template-rows: auto auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: 100%;
  width: 100%;
  font-family: "Share Tech Mono", monospace;
  color: white;
  border-radius: 500px 500px 0px 0px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.30);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
}

.foot1 {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 85px;
}

a {
  color: inherit;
  text-decoration: inherit;
}



.handjet {
  font-family: "Handjet", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 4em;
  font-variation-settings:"ELGR" ;
    /* "ELGR" 1,
    "ELSH" 2; */
}

.lemonada {
  font-family: "Lemonada", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.gulzar-regular {
  font-family: "Gulzar", serif;
  font-weight: 400;
  font-style: normal;
}

.kufam {
  font-family: "Kufam", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.parastoo {
  font-family: "Parastoo", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}